{% extends "base.html" %} {% block title %} Home {% endblock %}

{% block Navbar%}
<a class="nav-item nav-link" id="home" href="/">Home</a>
<a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
{% endblock %}

{% block content %}
<!--Artist Table--> 
<div class="container">
    <table class="table table-success table-striped table-hover">
        <thead>
            <tr> <!-- Use 'th' elements for table headers -->
                <th>AlbumID</th>
                <th>Title</th> 
                <th>ArtistId</th> 
            </tr>
        </thead>
        <tbody>
            {% for album in albums %}
                <tr> <!-- Use 'tr' elements for table headers -->
                    <td>{{ album.AlbumId }}</td>
                    <td>{{ album.Title }}</td>
                    <td>{{ album.ArtistId }}</td>
                    <td>
                        <a href="" class="btn btn-success">Update</a>
                        <a href="" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}